body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuButton {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#menu {
    display: none; /* Menu inicialmente oculto */
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
