.contGeral-dashboard {
  background-color: #a06e49;
  width: 100vw;
  padding-left: 1rem;
}

.container-categoria-modal {
  /* display: flex; */
  margin: 0 15%;
  /* position: relative; */
  justify-content: space-around;
}

.container-dash {
  background-color: #bba1a1d2;
  color: #1b1717;
  border-radius: 0.4cm;
  position: relative;
  display: flex;
  width: 60%;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 2px rgb(41, 41, 41);
  padding: 20px;
  transform: translate(-50%, -50%);
  /* justify-content: space-between; */
  /* z-index: 0; */
  width: 20vw;
}

.container-eventos {
  display: flex;
  flex-direction: column;

  width: 100%;
}
