.container-contas {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f4e3e3b5;
  background-image: url("../../images/bck.png");
  background-size: cover; /*imagem completa todo o fundo*/
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title_contas {
  font-size: 45px;
  width: auto;
  text-align: center;
  color: black;
  border: dashed rgb(0, 0, 0) 1px;
  background-color: #aeaaaac5;
  box-shadow: #bcbabac7 0.2rem 0.1rem 0.3rem;
}

.itens-conta {
  padding: 1rem;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body-card-pdf > a {
  color: black;
}

.card-pdf:hover {
  background-color: #d3531caf;
  transition: 0.5s;
}
