
.container-geral{
    background: #8b4c1c;
    width: 100%;
    height: auto;
    display: flex;
    padding: 3%;
    overflow-x: hidden;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.3) 100%);
}

.colunas{
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.row{
    min-width: 33%;
    list-style-type: none;
}

.row > h3{
    font-size: 2em;
    margin: 1%;
    color: #fff;
}

.row > ul > li{
    list-style-type: none;  
    padding: 1%;
    color: #eaeaeae3;
}

.row > ul > li > a{
    text-decoration: none;
    color: #eaeaeae3;
}

.row > ul > li > a:hover{
    color: #FCF6B1;
    transition: 0.1s;
}

.icon_contact{
    color: #fff;
    padding: 2%;
    margin: 2%;
    font-size: 3em;
}

.icon_contact > a{
    color: aliceblue;
}

.icon_contact > a:hover{
    color: #FCF6B1;
    transition: 0.1s;
}

.copyright{
    text-align: center;
    min-width: 100%;
    display: block;
    color: #d4d4d4c6;
}