.navegacao .bg-body-tertiary{

  background-color: #E7CF89 !important;

  height: 13%;
}

.dropdown-menu.show {

  background-color: #E7CF89;

}
.navegacao a{
  text-decoration: none;
  color: black;
}

.item-h:hover{
  transition: 0.11s;
  color: #673915;
}