.navegacao .bg-body-tertiary {
  background-color: #e7cf89 !important;

  height: 13%;
}

.dropdown-menu.show {
  background-color: #e7cf89;
}
.navegacao a {
  text-decoration: none;
  color: black;
}

.item-h:hover {
  transition: 0.11s;
  color: #673915;
}
