@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.container-geral-crianca {
  width: 100vw;
  background-image: url("../../images/fundo-crianca-removebg.png");
  background-size: contain;
  overflow-x: hidden;
}

.container-logo {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.content-crianca {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.container-logo img {
  width: 20rem;
  background-color: #ffe8dc21;
  margin: 2%;
  box-shadow: 5px 6px 10px 2px #ffe8dc;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo h1 {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}

.container-p {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 1%;
}

.container-p p {
  align-content: center;
  box-shadow: 7px 7px 15px 2px #a67d624f;
  padding: 0.5rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.589);
  height: fit-content;
  border-bottom: solid #866752bf 3px;
  border-right: solid #866752bf 1px;
  border-radius: 0 20px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.589);
  letter-spacing: 1px;
}

.container-p > img {
  width: 40%;
  border-radius: 20px;
}

.contato-maps {
  display: flex;
  padding: 2%;
  width: 95%;
  justify-content: center;
}

.contato {
  padding: 3%;
  background-color: #ffe8dcba;
  margin: 1%;
}

.eventos-crianca{
  width: 95%;
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.evento-crianca{
  width: 32.5%;
  border-radius: 10px;
  background-color: #b27092d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #020202e9;
}

.evento-crianca:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.img-evento-crianca{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.img-evento-crianca img{
  width: 100%;
  border-radius: 10px;
}

.descricao-evento-crianca{
  width: 100%;
  padding: 3%;
  text-align: justify;
}

.infos-crianca{
  color: #020202b9;
  padding-bottom: 3%;
}