@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.container-geral-crianca {
  width: 100vw;
  background-image: url("../../images/fundo-crianca-removebg.png");
  background-size: contain;
  max-width: fit-content;
  height: 100vh;
  margin: 10px 0 10px 20px;
  height: fit-content;
}
.container-logo {
  /* border: red solid 2px; */
  display: flex;
  width: 95%;
  justify-content: space-around;
  /* margin-right: 8rem; */
}

.titulo h1 {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  /* margin-bottom: 2rem;
    margin-left: 3rem; */
  margin: 0.5rem 6rem 2rem 3rem;
}

.container-geral-crianca p {
  text-align: justify;
  margin: 0.5rem 2rem 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.589);
  letter-spacing: 1px;
}

.container-logo {
  display: flex;
}

.container-logo img {
  width: 10rem;
  background-color: #ffe8dc21;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin: 0rem 0 15px 2rem;
  box-shadow: 5px 6px 10px 2px #ffe8dc;
  /* background-color: white; */
  /* border: solid green 2px; */
}

.container-p-direita {
  display: flex;
}

.container-p-direita p {
  align-content: center;
  box-shadow: 7px 7px 15px 2px #a67d624f;
  padding: 0.5rem;
  font-weight: 600;
  margin-left: 3%;
  background-color: rgba(255, 255, 255, 0.589);
  height: fit-content;
  border-bottom: solid #866752bf 3px;
  border-right: solid #866752bf 1px;
}

.container-p-direita img {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.container-p-esquerda {
  display: flex;
  margin-top: 1.5rem;
}

.container-p-esquerda p {
  align-content: center;
  box-shadow: -7px -7px 15px 2px rgba(166, 125, 98, 0.308);
  padding: 0.5rem;
  font-weight: 600;
  /* border: blue 2px solid; */
  margin-right: 5%;
  margin-left: 4%;
  padding-left: 8px;
  background-color: rgba(255, 255, 255, 0.589);
  height: fit-content;
  border-top: solid #866752bf 3px;
  border-left: solid #866752bf 1px;
}

.cont-geral {
  /* border: blue solid 2px; */
  width: fit-content;
  height: fit-content;
  /* border: solid red 3px; */
  margin-left: 3%;
  /* margin-right: 5%; */
}

.container-p-direita3 {
  display: flex;
  margin-top: 2rem;
  margin-right: 5%;
  margin-left: 0.4rem;
}

.container-p-direita3 p {
  align-content: center;
  box-shadow: 8px -7px 10px 2px rgba(166, 125, 98, 0.308);
  padding: 0.5rem;
  font-weight: 600;
  width: 42.8%;
  background-color: rgba(255, 255, 255, 0.589);
  height: fit-content;
  border-top: solid #866752bf 3px;
  border-right: solid #866752bf 1px;
}

.container-p-direita3 img {
  width: 40%;
  margin-left: 5%;
  margin-left: 5%;
}
