.container-geral{
    width: 100vw;
    margin: 10px 0 10px 20px;
    background: rgb(223,152,117);
    background: linear-gradient(270deg, rgba(223,152,117,1) 0%, rgba(241,148,102,1) 39%, rgba(255,188,152,1) 74%)
}

.titulo h1{
    font-weight:  bold;
    margin-bottom: 2rem;
}

.container-geral-p{
    text-align: justify;
}

.container-logo{
    display: flex;
   
}

.container-logo img{
    width: 10rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    padding: 15px 0 0 15px;
}

.container-p-img1{
    border: red solid 2px;
    display: flex;
}

.container-p-img1 img{
    width: 45%;
    margin-left: 15%;
    /* float: right; */
}