/* body {
  font-family: Arial, sans-serif;
  background-color: #a66a47;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  background-color: #d7a57b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-icon {
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  color: black;
  margin: 0;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  margin-right: 10px;
}

label img {
  margin-right: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  background-color: transparent;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="file"]::placeholder {
  color: #424141;
}

.datetime-group {
  display: flex;
  justify-content: space-between;
}

.date-time {
  display: flex;
  align-items: center;
}

.date-time input[type="date"],
.date-time input[type="time"] {
  width: auto;
  flex: 1;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.cancelar {
  background-color: #f0a500;
  color: white;
}

.adicionar {
  background-color: #28a745;
   color: white;
}
