*{
    margin: 0 !important;

}
.rosa{
    background-color: #FA0644;
}

.verde{
    background-color: #2f4f4f;
}

.roxo{
    background-color: #800080;
}

.roxinho{
    background-color: #AA02FF;
}

.azul{
    background-color: #87ceeb;
}

.amarelo{
    background-color: #ffd700;
}

.laranja{
    background-color: #FA5300;
}

.branco{
    background-color: #f0f0f0;
}

.geral {
    background: #E0E1DF;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.25) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%; 
    width: 100%;
}

.logo h1{
    padding: 2%;
    font-weight: bold;
}

.logo img{
    width: 8%;
}

.caixinhas{
    width: 95%;
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    justify-content: center;
    align-items: center;
    /* margin: 10%; */
    padding: 1%;
    /* border: solid #800080 3px; */
}

.caixa{
    border-radius: 20px;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
    
.caixa p{
    text-align: justify;
}
    
.caixa img{
    width: 100%;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}   

#img{
    box-shadow: none;
    max-width: 30%;
}

#text{
    padding: 2%;
    color: #2f4f4f;
    max-width: 65%;
}

#icon-text{
    font-size: 2em;
    padding: 0.5% 2% 3% 1%;
}

#cursos{
    padding: 1.8%;
    max-width: 23%;
}

#icon-cursos{
    padding: 3%;
    font-size: 3em;
}

/* padding: 20px 50px 20px 20px; */

/* padding: 10px 50px 20px 20px; */


    
    

/* #teste p{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
} */

/* .icon-leite{
    padding: 5%;
    text-align: end;
    font-size: 30px;
} */





/* @media (max-width: 768px) {
    .caixa {
        flex: 1 1 calc(50% - 32px);
        max-width: calc(50% - 32px);
    }
}

@media (max-width: 480px) {
    .caixa {
        flex: 1 1 calc(100% - 32px);
        max-width: calc(100% - 32px);
    }
} */


