@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  word-wrap: break-word; /* qubrar a linha de texto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
