.cont-geral-idoso {
  margin: 0px !important;
  background-image: url("../../images/fundo-idoso.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container-geral-1 {
  display: flex;
  width: 95%;
  align-items: center;
}

.container-geral-1 p{
  text-align: justify;
  letter-spacing: 2px;
  word-break: break-all;
}
/* 
.container-geral-2{
  width: 95%;
} */

.carrossel-maps{
  display: flex;
  align-items: center;
  width: 90%;
}


.mapa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1%;
}

.iframe-mapa{
  height: fit-content;
}

.carrossel-idoso{
  border: solid 2px blue;
  width: fit-content;
}

.eventos{
  width: 95%;
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 1%;
}


.evento{
  /* border: solid 3px red; */
  width: 32.5%;
  /* display: flex; */
  border-radius: 10px;
  /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
      /* background-color: #fa5300; */
      /* background-image: linear-gradient(62deg, #fa5300 37%, #F7CE68 100%); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: aliceblue;
}

.evento:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.img-evento{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.img-evento img{
  width: 100%;
  border-radius: 10px;
}

.descricao-evento{
  width: 100%;
  padding: 3%;
  text-align: justify;
}

.infos{
  color: #f0f0f0b9;
  margin-bottom: 3%;
}